nav {
  height: 9.6rem;
  border-bottom: 1.75px solid $grayscale-200;
  display: flex;

  .grid-container {
    @include flex (row, center, space-between);
  }

  ul {
    @include flex (row, center, space-between);
    gap: 4.8rem;
    margin-top: 2px;

    li {
      a {
        font-size: 1.6rem;
        color: $grayscale-600;
        @include link();

        @include expand_border($grayscale-600)
      }
    }
  }
}