.section-hero {
  // margin-top: 10rem;
  background-color: $grayscale-700;
  @include padding_section();

  .grid-container {
    @include flex(row, center, space-between);

    .content {
      max-width: 63rem;

      .opa {
        color: $grayscale-400;
        @include flex(row, center, flex-start);
        gap: 1.6rem;
        margin-bottom: 1.6rem;

        .hand {
          height: 4rem;
        }
      }

      color: $grayscale-200;

      h1 {
        color: $grayscale-50;
      }

      h4 {
        margin-top: 0.8rem;
      }

      p.body-one {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 200%;
        margin-top: 3.2rem;
      }

      .companies {
        @include flex(row, center, flex-start);
        gap: 3.2rem;
        margin-top: 6rem;

        img {
          height: 40px;
          filter: grayscale(1);
          transition: filter 0.3s;

          &:last-child {
            height: 28px;
          }

          &:hover {
            filter: grayscale(0);
          }
        }
      }
    }

    .my-photo {
      height: 60rem;
    }

    @include responsive(1200px) {
      .content {
        max-width: 100%;
      }

      .my-photo {
        display: none;
      }
    }

    @include responsive(991px) {
      @include flex(column, flex-start, center);

      .content {
        .companies {
          margin-top: 4rem;
        }
      }

      .my-photo {
        display: inline-block;
        height: auto;
        width: 100%;
        margin-top: 6rem;
      }
    }

    @include responsive(600px) {
      .content {
        .opa {
          gap: 0.8rem;

          .hand {
            height: 3rem;
          }
        }

        .companies {
          @include flex(row, center, flex-start);
          flex-wrap: wrap;

          img {
            height: 32px;

            &:last-child {
              height: 24px;
            }
          }
        }
      }
    }
  }
}