.redirect {
  background-color: $grayscale-100;
  height: 100vh;
  @include flex(row, center, center)
}

.section-works {
  background-color: $grayscale-100;
  @include padding_section();

  .grid-container {
    .disabled {
      pointer-events: none;
      cursor: default;
    }

    .works {
      margin-top: 6rem;
      display: grid;
      gap: 6rem;
      grid-template-columns: repeat(2, auto);
    }

    .personal {
      margin-top: 12rem;

      .list-personal {
        margin-top: 3.2rem;
        display: grid;
        gap: 2.4rem;
        grid-template-columns: repeat(3, auto);
      }
    }

    @include responsive (1200px) {
      .works {
        grid-template-columns: repeat(1, auto);

        .card-work {
          max-width: 100%;
          @include flex(column, flex-start, flex-start);
        }
      }

      .personal {
        .list-personal {
          grid-template-columns: repeat(2, auto);
          gap: 3.2rem;

          .card-personal {
            max-width: 100%;
          }
        }
      }
    }

    @include responsive (768px) {
      .works {
        margin-top: 2.4rem;
        gap: 4rem;

        .card-work {
          .card-footer {
            margin-top: 2.4rem;

            h4 {
              margin-bottom: 0.4rem;
            }
          }
        }
      }

      .personal {
        margin-top: 8rem;

        .list-personal {
          @include flex(column, center, flex-start);
          gap: 4rem;

          .card-personal {
            a {
              p {
                padding: 2rem 1.6rem;
              }
            }
          }
        }
      }
    }
  }
}

.section-about {
  @include padding_section();

  .grid-container {
    h2 {
      margin-bottom: 2rem;
    }

    p {
      color: $grayscale-500;
    }

    .header {
      @include flex(column, center, space-between);

      .text {
        margin-top: 4rem;
        margin-bottom: 2.4rem;
        width: 100%;
        @include flex(row, center, space-between);

        .paragraph {
          max-width: 76.4rem;

          p {
            &:first-child {
              margin-bottom: 1.2rem;
            }
          }
        }
      }
    }

    .body {
      margin-top: 4rem;
      @include flex(row, flex-start, space-between);
      gap: 4rem;

      .card {
        width: 50%;
        background-color: $grayscale-100;
        padding: 4rem 3.2rem;
        height: 66rem;

        .card-header {
          padding-bottom: 2.4rem;
          border-bottom: 1px solid rgba($grayscale-200, 0.5);

          img {
            margin-bottom: 2.4rem;
          }

          h4 {
            margin-bottom: 0.8rem;
          }
        }

        .skills {
          margin-top: 3.2rem;

          p {
            color: $grayscale-700;
            margin-bottom: 1.2rem;
          }

          .list {
            @include flex(row, flex-start, flex-start);
            gap: 2.4rem;

            ul {
              width: 50%;

              li {
                margin-bottom: 0.2rem;
                color: $grayscale-500;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 180%;

                &:last-child {
                  margin-bottom: 0rem;
                }
              }
            }
          }
        }
      }
    }

    @include responsive(1200px) {
      .header {
        .text {
          max-width: 100%;
          margin-bottom: 2.4rem;

          .paragraph {
            max-width: 64rem
          }
        }
      }

      .body {
        @include flex(column, center, flex-start);

        .card {
          width: 100%;
          height: 100%;
        }
      }
    }

    @include responsive(991px) {
      .header {
        .text {
          margin-top: 2.4rem;
          @include flex(column, flex-start, flex-start);

          .paragraph {
            max-width: 100%;
          }

          a {
            margin-top: 2.4rem;
          }
        }
      }
    }

    @include responsive (600px) {

      .header {
        h2 {
          font-size: 4rem;
        }

        a {
          @include flex(column, center, center);
          width: 100%;
        }
      }

      .body {
        @include flex(column, center, flex-start);

        .card {
          width: 100%;
          height: 100%;

          .skills {
            .list {
              @include flex(column, flex-start, flex-start);
              gap: 0rem;

              ul {
                width: 100%;

                &:last-child {
                  margin-bottom: 0rem;
                }

                li {
                  &:last-child {
                    margin-bottom: 0rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.section-experience {
  background-color: $grayscale-100;
  @include padding_section();

  .grid-container {
    @include flex(row, flex-start, space-between);
    gap: 8rem;

    .experience {
      width: 100%;
      max-width: 56rem;

      .item-experience {
        .body-l {
          color: $grayscale-700;
          margin-bottom: 0.8rem;
        }
      }

      h3 {
        margin-bottom: 4rem;
      }
    }

    @include responsive (768px) {
      @include flex(column, center, space-between);
      gap: 4rem;

      .experience {
        max-width: 100%;

        h3 {
          margin-bottom: 0.8rem;
        }
      }
    }
  }
}

.section-overview-work {
  @include padding_section_work();

  .grid-container {
    .header {
      width: 100%;

      h3 {
        margin-bottom: 3.2rem;
      }

      p {
        color: $grayscale-500;
      }
    }

    .details {
      margin-top: 6rem;
      margin-bottom: 6rem;

      .list {
        margin-top: 2.4rem;
        @include flex(row, flex, space-between);
        gap: 4rem;
        width: 100%;

        .group {
          @include flex(column, flex-start, flex-start);
          width: 100%;
          border-right: 1px solid $grayscale-300;
          gap: 1.2rem;

          //Only tech
          ul {
            height: 4rem;
            @include flex(row, center, center);
            gap: 1.6rem;
          }

          &:last-child {
            border-right: none;
          }

          .body-m {
            color: $grayscale-500;
          }

          a {
            @include flex(row, center, center);
            gap: 0.4rem;

            img {
              height: 1.8rem;
            }

            p {
              color: $grayscale-700;
              font-size: 1.6rem;
              font-weight: 600;
              text-decoration-line: underline;
            }
          }
        }
      }

    }

    .challenge {
      background-color: $grayscale-700;
      padding: 6rem;
      @include flex(column, flex-start, flex-start);
      gap: 2.4rem;

      h3 {
        color: $grayscale-50;
      }

      p {
        &.body-m {
          color: $grayscale-200;
          padding-bottom: 2.4rem;
          border-bottom: 1px solid $grayscale-500;
        }

        &.body-l {
          color: $grayscale-50;
        }
      }
    }

    @include responsive(991px) {
      .details {
        margin-top: 4rem;
        margin-bottom: 4rem;

        .list {
          @include flex(column, flex-start, flex-start);
          gap: 3.2rem;

          .group {
            max-width: 100%;
            border-right: none;
            border-bottom: 1px solid $grayscale-200;
            padding-bottom: 3.2rem;
          }
        }
      }

      .challenge {
        padding: 4rem;
        gap: 2rem;
      }
    }
  }
}

.section-main-features {
  @include padding_section_work();

  .grid-container {
    .features {
      margin-top: 3.2rem;
      display: grid;
      grid-template-columns: 32% 32% 32%;
      column-gap: 2%;
      row-gap: 2.4rem;
    }

    @include responsive (1290px) {
      .features {
        grid-template-columns: 48% 48%;
      }
    }

    @include responsive (820px) {
      .features {
        grid-template-columns: 100%;
      }
    }
  }
}

.section-tools {
  @include padding_section_work();

  .grid-container {
    h3 {
      margin-bottom: 3.2rem;
    }

    p.body-m {
      margin-bottom: 2.4rem;
    }

    .tools {
      display: grid;
      grid-template-columns: 32% 32% 32%;
      column-gap: 2%;
      row-gap: 2.4rem;
    }

    @include responsive (1290px) {
      .tools {
        grid-template-columns: 48% 48%;
      }
    }

    @include responsive (820px) {
      .tools {
        grid-template-columns: 100%;
      }
    }
  }
}