.section-works {
  background-color: $grayscale-100;
  @include padding_section();

  .grid-container {
    .works {
      margin-top: 4rem;

      @include flex(column, flex-start, flex-start);
      gap: 3.2rem;

      .row-works {
        @include flex(row, flex-start, flex-start);
        gap: 3.2rem;

        .card-work {
          background-color: $grayscale-50;
          border: 1px solid $grayscale-200;
          max-width: 62.4rem;
          transition: all 0.3s;

          .link-work-disabled {
            pointer-events: none;
            cursor: default;
          }

          &:hover {
            -webkit-box-shadow: 0px 8px 32px 2px $grayscale-150;
            -moz-box-shadow: 0px 8px 32px 2px $grayscale-150;
            box-shadow: 0px 8px 32px 2px $grayscale-150;
          }

          .thumb {
            position: relative;
            overflow: hidden;

            .coming-soon {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              @include flex(row, center, center);
              gap: 1.2rem;
              background-color: $grayscale-700-opacity-80;

              p {
                color: $grayscale-50;
              }
            }

            .tag {
              position: absolute;
              top: 2.4rem;
              left: 2.4rem;
              z-index: 2022;
            }

            img {
              transition: all 0.3s;

              &:hover {
                transform: scale(1.1);
              }
            }
          }

          .card-footer {
            padding: 2.4rem 2.4rem;

            h4 {
              color: $grayscale-700;
              margin-bottom: 0.6rem;
            }

            p {
              color: $grayscale-700;
            }
          }
        }
      }
    }

    .personal {
      margin-top: 12rem;

      .list-personal {
        margin-top: 3.2rem;
        @include flex(row, center, flex-start);
        gap: 2.4rem;

        .card-personal {
          background-color: $grayscale-50;
          max-width: 41rem;
          border: 1px solid $grayscale-200;
          overflow: hidden;
          transition: box-shadow 0.3s;

          &:hover {
            -webkit-box-shadow: 0px 8px 32px 2px $grayscale-150;
            -moz-box-shadow: 0px 8px 32px 2px $grayscale-150;
            box-shadow: 0px 8px 32px 2px $grayscale-150;
          }

          a {
            .thumb {
              overflow: hidden;

              img {
                transition: all 0.3s;

                &:hover {
                  transform: scale(1.1);
                }
              }
            }

            p {
              padding: 2.4rem 2.4rem;
              color: $grayscale-700;
              font-size: 1.6rem;
              font-style: normal;
              font-weight: 600;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

    @include responsive (1200px) {
      .works {
        .row-works {
          @include flex(column, flex-start, flex-start);
          gap: 3.2rem;

          .card-work {
            max-width: 100%;
            @include flex(column, flex-start, flex-start);
            gap: 3.2rem;
          }
        }
      }
    }

    @include responsive (768px) {
      .works {
        margin-top: 2.4rem;

        .row-works {

          .card-work {
            .card-footer {
              padding: 1.6rem 1.6rem;

              h4 {
                margin-bottom: 0.4rem;
              }

            }
          }
        }
      }

      .personal {
        margin-top: 8rem;

        .list-personal {
          @include flex(column, center, flex-start);
          gap: 2.4rem;

          .card-personal {
            max-width: 100%;

            a {
              p {
                padding: 2rem 1.6rem;
              }
            }
          }
        }
      }
    }
  }
}

.section-about {
  @include padding_section();

  .grid-container {
    h2 {
      margin-bottom: 2rem;
    }

    p {
      color: $grayscale-500;
    }

    .header {
      @include flex(column, center, space-between);

      .text {
        margin-top: 4rem;
        width: 100%;
        @include flex(row, center, space-between);

        .paragraph {
          max-width: 76.4rem;

          p {
            &:first-child {
              margin-bottom: 1.2rem;
            }
          }
        }
      }
    }

    .body {
      margin-top: 4rem;
      @include flex(row, flex-start, space-between);
      gap: 4rem;

      .card {
        width: 50%;
        border: 1px solid $grayscale-200;
        padding: 4rem 3.2rem;
        height: 66rem;

        .icon {
          height: 6.4rem;
          width: 6.44rem;
          @include flex(row, center, center);
          background-color: $grayscale-100;
          margin-bottom: 2.4rem;
        }

        h4 {
          margin-bottom: 0.8rem;
        }

        .skills {
          margin-top: 3.2rem;

          p {
            color: $grayscale-700;
            margin-bottom: 1.2rem;
          }

          .list {
            @include flex(row, flex-start, flex-start);
            gap: 2.4rem;

            ul {
              width: 50%;

              li {
                margin-bottom: 0.2rem;
                color: $grayscale-500;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 180%;

                &:last-child {
                  margin-bottom: 0rem;
                }
              }
            }
          }
        }
      }
    }

    @include responsive(1200px) {
      .header {
        .text {
          max-width: 100%;
          margin-bottom: 2.4rem;

          .paragraph {
            max-width: 64rem
          }
        }
      }

      .body {
        @include flex(column, center, flex-start);

        .card {
          width: 100%;
          height: 100%;
        }
      }
    }

    @include responsive(991px) {
      .header {
        .text {
          margin-top: 2.4rem;
          @include flex(column, flex-start, flex-start);

          .paragraph {
            max-width: 100%;
          }

          a {
            margin-top: 2.4rem;
          }
        }
      }
    }

    @include responsive (600px) {

      .header {
        h2 {
          font-size: 4rem;
        }

        a {
          @include flex(column, center, center);
          width: 100%;
        }
      }

      .body {
        @include flex(column, center, flex-start);

        .card {
          width: 100%;
          height: 100%;

          .skills {
            .list {
              @include flex(column, flex-start, flex-start);
              gap: 0rem;

              ul {
                width: 100%;

                &:last-child {
                  margin-bottom: 0rem;
                }

                li {
                  &:last-child {
                    margin-bottom: 0rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.section-experience {
  background-color: $grayscale-100;
  @include padding_section();

  .grid-container {
    @include flex(row, flex-start, space-between);
    gap: 8rem;

    .experience {
      width: 100%;
      max-width: 56rem;

      .item-experience {
        .body-l {
          color: $grayscale-700;
          margin-bottom: 0.8rem;
        }
      }

      h3 {
        margin-bottom: 4rem;
      }
    }

    @include responsive (768px) {
      @include flex(column, center, space-between);
      gap: 4rem;

      .experience {
        max-width: 100%;

        h3 {
          margin-bottom: 0.8rem;
        }
      }
    }
  }
}

.section-overview-work {
  @include padding_section_work();

  .grid-container {
    .header {
      width: 100%;

      h3 {
        margin-bottom: 3.2rem;
      }

      p {
        color: $grayscale-500;
      }
    }

    .details {
      margin-top: 6rem;
      margin-bottom: 6rem;

      .list {
        margin-top: 2.4rem;
        @include flex(row, flex, space-between);
        gap: 4rem;
        width: 100%;

        .group {
          @include flex(column, flex-start, flex-start);
          width: 100%;
          border-right: 1px solid $grayscale-300;
          gap: 1.2rem;

          //Only tech
          ul {
            height: 4rem;
            @include flex(row, center, center);
            gap: 1.6rem;
          }

          &:last-child {
            border-right: none;
          }

          .body-m {
            color: $grayscale-500;
          }

          a {
            @include flex(row, center, center);
            gap: 0.4rem;

            img {
              height: 1.8rem;
            }

            p {
              color: $grayscale-700;
              font-size: 1.6rem;
              font-weight: 600;
              text-decoration-line: underline;
            }
          }
        }
      }

    }

    .challenge {
      background-color: $grayscale-700;
      padding: 6rem;
      @include flex(column, flex-start, flex-start);
      gap: 2.4rem;

      h3 {
        color: $grayscale-50;
      }

      p {
        &.body-m {
          color: $grayscale-200;
          padding-bottom: 2.4rem;
          border-bottom: 1px solid $grayscale-500;
        }

        &.body-l {
          color: $grayscale-50;
        }
      }
    }

    @include responsive(991px) {
      .details {
        margin-top: 4rem;
        margin-bottom: 4rem;

        .list {
          @include flex(column, flex-start, flex-start);
          gap: 3.2rem;

          .group {
            max-width: 100%;
            border-right: none;
            border-bottom: 1px solid $grayscale-200;
            padding-bottom: 3.2rem;
          }
        }
      }

      .challenge {
        padding: 4rem;
        gap: 2rem;
      }
    }
  }
}

.section-main-features {
  @include padding_section_work();

  .grid-container {

    .features {
      margin-top: 3.2rem;
      display: grid;
      grid-template-columns: 32% 32% 32%;
      column-gap: 2%;
      row-gap: 2.4rem;
    }

    @include responsive (1290px) {
      .features {
        grid-template-columns: 48% 48%;
      }
    }

    @include responsive (820px) {
      .features {
        grid-template-columns: 100%;
      }
    }
  }
}

.section-tools {
  @include padding_section_work();

  .grid-container {
    h3 {
      margin-bottom: 3.2rem;
    }

    p.body-m {
      margin-bottom: 2.4rem;
    }

    .tools {
      display: grid;
      grid-template-columns: 32% 32% 32%;
      column-gap: 2%;
      row-gap: 2.4rem;
    }

    @include responsive (1290px) {
      .tools {
        grid-template-columns: 48% 48%;
      }
    }

    @include responsive (820px) {
      .tools {
        grid-template-columns: 100%;
      }
    }
  }
}

.section-photos {
  @include padding_section_work();

  .grid-container {}
}