* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  list-style: none;
  text-decoration: none;
  border: none;
  font-family: 'Archivo', sans-serif;
}

html {
  font-size: 62.5%;

  @include responsive(768px) {
    font-size: 56%;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "cv11", "salt", "ss01", "ss03", "cv01", "cv02", "cv03", "cv04", "cv05", "cv06", "cv09", "cv10";
}

img {
  max-width: 100%;
  display: block;
}

html,
body {
  overflow-x: hidden;
}

button {
  background-color: transparent;
  cursor: pointer;
}

.border {
  border: 1px solid red;
}