h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Clash Display', sans-serif;
  letter-spacing: 1px;
}

h1 {
  font-size: 7.2rem;

  @include responsive (600px) {
    font-size: 4.4rem;
  }
}

h2 {
  font-size: 5.6rem;

  @include responsive (600px) {
    font-size: 3.2rem;
  }
}

h3 {
  font-size: 3.2rem;

  &.paragraph {
    text-transform: unset;
    font-weight: 500;
  }

  @include responsive (600px) {
    font-size: 2.8rem;
  }
}

h4 {
  font-size: 2.4rem;
  text-transform: unset;
  font-weight: 500;

  @include responsive (600px) {
    font-size: 2rem;
  }
}

p {
  font-size: 1.6rem;
}

@mixin link () {
  font-family: 'Clash Display', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}